@model API_Playground.Models.Code
@{
    ViewData["Title"] = "HTTP Methods";
}

<div id="defaultCsx" style="display: none;">@Html.Raw(Model.csx)</div>
<div id="defaultOutput" style="display: none;">@Html.Raw(Model.output)</div>

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-lg12" style="max-width:none;width:1920px;">
            <div class="ms-font-xxl">HTTP Methods</div>
            <div class="ms-font-m-plus">
                Type the request body in the input box if you are testing an HTTP Method which requires content. For HTTP GET requests the input box will be ignored. <br />
                Click on one of the templated buttons to issue a request, and watch the results in the output box. (Custom requests currently not available.)
            </div>
            <br />
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                <div id="status" class="ms-Icon--Label">Status: Ready</div>
                <br />
                <span class="ms-font-xl">Templates</span>
                <span class="ms-Table-cell ms-font-xl">
                    <button id="btnExecuteGET" type="submit" class="ms-Button ms-Button--compound" onclick="GET()">
                        <span class="ms-Button-label">HTTP GET</span>
                        <span id="GET-url" class="ms-Button-description">https://api01.contoso.local/api/HttpGET?name=Azure</span>
                    </button>
                </span>
                <br />
                <span class="ms-Table-cell ms-font-xl">
                    <button id="btnExecutePOST" type="submit" class="ms-Button ms-Button--compound" onclick="POST()">
                        <span class="ms-Button-label">HTTP POST</span>
                        <span id="POST-url" class="ms-Button-description">https://api02.contoso.local/api/HttpPOST</span>
                    </button>
                </span>
                <div class="ms-Table">
                    <div class="ms-Table-row">
                        <span class="ms-Table-cell ms-font-xl">Input</span>
                        <span class="ms-Table-cell ms-font-xl">Output</span>
                    </div>
                    <div class="ms-Table-row">
                        <div id="csxEditor" class="ms-Table-cell" style="width:50%; height:600px;border: 0px solid grey;border-image:none;left:0px;padding:0px;"></div>
                        <div id="output" class="ms-Table-cell" style="width:50%; height:600px;border: 0px solid grey;border-image:none;left:0px;padding:0px;"></div>
                    </div>
                    <div id="behindthescenes">
                        @Html.EditorFor(model => model.csx, new { htmlAttributes = new { style = "display:none" } })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="../lib/monaco-editor/min/vs/loader.js"></script>
<script>
    require.config({ paths: { 'vs': '../lib/monaco-editor/min/vs' } });

    require(['vs/editor/editor.main'], function () {
        var strCsx = document.getElementById('defaultCsx').innerHTML;
        var strCsxArray = strCsx.split('<br>');

        window.editor = monaco.editor.create(document.getElementById('csxEditor'), {
            value: strCsxArray.join('\n'),
            language: 'json'
        });

        var strOutput = document.getElementById('defaultOutput').innerHTML;
        var strOutputArray = strOutput.split('<br>');

        var output = monaco.editor.create(document.getElementById('output'), {
            value: strOutputArray.join('\n'),
            language: 'json'
        });

    });

    var statusMessage = 'Status: Bits are in the pipe';

    function GET() {
        document.getElementById("status").innerText = statusMessage;
        var x = window.editor.getValue();
        var url = document.getElementById("GET-url").innerText;
        var post_req = "{'url':'" + url + "','body':''}";
        document.getElementById("csx").innerText = post_req;
    }

    function POST() {
        document.getElementById("status").innerText = statusMessage;
        var x = window.editor.getValue();
        var url = document.getElementById("POST-url").innerText;
        var post_req = "{'url':'" + url + "','body':'" + x + "'}";
        document.getElementById("csx").innerText = post_req;
    }
</script>  