@{
    ViewData["Title"] = "Index";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-lg12">
            <div class="ms-font-xxl">So, what is this?</div>
            <div class="ms-font-m-plus">
                This is a tool for playing around with APIs and testing them, or for that matter code in general. <br /><br />                
                If you head over the <b>C#</b> tab you can wire up the specific C# code that will be executed to call APIs and get the results right in your browser.
            </div>
        </div>
    </div>
</div>