@{
    ViewData["Title"] = "Index";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-lg12">
            <div class="ms-font-xxl">So, what is this?</div>
            <div class="ms-font-m-plus">
                This is a tool for playing around with APIs and testing them. Currently there are two "modes" that you can find in the menu above. <br /><br />
                <b>HTTP:</b> Use HTTP calls where you only focus on getting the payload right, and the rest is taken care of behind the scenes.<br />
                <b>C#:</b> Wire up the specific C# code that will be executed to call the API.
            </div>
        </div>
    </div>
</div>